@import 'tailwindcss';

@layer base {
  body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #ffffff;
    height: 100vh;
  }

  h1, h2, h3, current-date {
    font-family: "Bitter", serif;

  }
}